* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f2f4f8;
  color: #333;
  text-align: center;
  align-items: center;
}

header {
  background-color: #ea5504;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  font-weight: 700;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo img {
  height: 50px;
  /* controla a altura da imagem */
  width: auto;
  /* mantém a proporção */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#span {
  justify-content: start;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E64A19;
  padding: 0 15rem;
  height: 80px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

#label {
  font-size: 12px;
}

.input {
  width: 225px;
  height: 40px;
  padding-block: 10px;
  padding-inline: 5px;
  outline: none;
  border-bottom: 1px solid black;
  transition: 0.3s;
}

.input:hover {
  border-bottom: 2px solid black;
}

.box-input-trhee {
  max-width: 120;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ea580c;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

#calculos {
  padding: 1rem;
  justify-self: center;
}

.cargaPerigosa {
  justify-items: center;
  font-weight: 700;
}

#popup {
  justify-content: center;
  justify-items: center;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 200px;
  transform: translate(-50%, -50%);
  background-color: #f2f4f8;
  padding: 20px;
  border: 1px solid black;
  border-radius: 2rem;
  z-index: 100;
  /* Para garantir que o pop-up fique sobre outros elementos */
}

#popup.show {
  display: block;
}

#popup input {
  background-color: #f2f4f8;
  border-bottom: 1px solid;
  size: 10px;
  outline: none;

}
.labelCargas {
  padding: 1px 10px 1px;
  padding-top: 5px;
}

.divChecks {
  display: flex;
  justify-items: center;
  justify-content: center;
  justify-self: center;
}

.cotar {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  max-height: 1300px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-self: center;
}

.formCota {
  padding-top: 10px;
  background-color: #f2f4f8;
  text-align: start;
}

.destino {
  padding: 10px;
}

.classificCarga {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btCalcular {
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  background-color: #ea580c;
  color: #fff;
  border: none;
  height: 30px;
  width: 100%;
}

.btCalcular:hover {
  background-color: #bb490c;
  transition: 0.2s;
}

label,
input,
select {
  display: flex;
  padding: 8px 100px 3px;
}

.gap-6 label,
input,
select {
  display: flex;
  background-color: #f2f4f8;
  padding: 8px 100px 3px;
}

/* Estilos personalizados adicionais */
.input-focus:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 1px #4f46e5;
}

.date-time-input {
  min-width: 200px;
}

@media (max-width: 640px) {
  .flex-col-mobile {
    flex-direction: column;
  }

  .w-full-mobile {
    width: 100%;
  }
}

.lf {
  display: flex;
  /* Ativa o layout em colunas */
  gap: 20px;
  /* Espaço entre colunas */
  padding: 20px;
}

.coluna {
  flex: 1;
  /* Faz as colunas terem tamanhos iguais */
  display: block;
  /* block */
  font-size: 0.875rem;
  /* text-sm (14px) */
  font-weight: 500;
  /* font-medium */
  color: #374151;
  /* text-gray-700 */
  margin-bottom: 0.25rem;
  /* mb-1 (4px) */
  margin-left: 0.30rem;
}

/* Para telas pequenas, as colunas ficam empilhadas */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

.destino {
  flex: 1;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #ea580c;
  color: #fff;
}

.horario_datas {
  gap: 1.5rem;
}

.horario_datas label input {
  background-color: #fff;
}