*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding-top: 80px;
    /* Espaço para o header fixo */
    background-color: #f2f4f8;
    color: #333;
    line-height: 1.6;
  }
  header {
    background-color: #ea5504;
    color: white;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-weight: 700;
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 4vh;
    font: bold;
}
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  
  }
  .nav-list{
    list-style: none;
    display: flex;
    font-weight: 700;
  }
  nav a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
  }
  nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
  }
  
  nav ul li {
    margin-left: 30px;
    list-style: none;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.2s;
  }
  
  nav ul li a:hover {
    color: #d1e0fb;
  }
  header.scrolled {
    padding: 8px 0;
    background: rgba(58, 123, 213, 0.95);
    backdrop-filter: blur(5px);
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
      padding: 10px;
    }
  
    .logo {
      margin-bottom: 10px;
    }
  
    nav ul {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    nav ul li {
      margin: 0 10px;
    }
}

th{
    background-color: #ea5504;
    color: #f2f4f8;
}