html,
body {
  height: 100%; /* Garante que o body ocupe toda a altura da tela */
  width: 100%;
  margin: 0; /* Remove margens padrão */
}
body {
  overflow-x: hidden;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Helvetica;
  background-color: #fafbe4;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* INDEX PAG 
.container{
  background-size: cover;
  width: 1400px;
  height: 45000px;
}*/
.banner {
  margin-top: 710px;
  width: 100%;
  height: 750px;
}

.banner img {
  width: 100%;
  height: 900px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border-bottom: solid 20px #e06919;
}

.cartoes {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(-60px);
}

.card {
  width: 50%;
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
}
/* New styles for card-body to centralize content */
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body a{
  color: #e06919; 
  border-radius: 1rem; 
  justify-self:center; 
  margin: 1%;
}

/* Make sure image inside card-body is centered and sized nicely */
.card-body img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.card2 {
  width: 50%;
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card3 {
  width: 50%;
  font-size: 20px;
  margin-right: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card-title {
  
  align-items: center;
  color: #e06919;
}
.card img {
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.card2 img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}
.card3 img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 400px) {
  .cartoes {
    grid-template-columns: repeat(2, 1fr);
    display: contents;
  }
  .card {
    margin: 20px;
  }
  .card2 {
    margin: 20px;
  }
  .card3 {
    margin: 20px;
  }
  h1 {
    font-size: 35px;
  }
  nav {
    grid-template-columns: repeat(2, 1fr);
    size: 10px;
  }
  header {
    width: 50vw;
    padding: 0%;
  }
}
header {
  background-color: #ea580c;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 80px;
}
h2 {
  color: #333;
}
body {
  font-family: Helvetica;
  background-color: #fafbe4;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.texto {
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.subtexto {
  max-width: 30%;
  padding: 5px;
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagem {
  width: 300px;
  height: 200px;
  margin-right: 20px;
}

.texto {
  font-size: 18px;
  color: #333;
  width: 500px;
}

.sobre-nos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10rem;
  width: 100%;
  padding: 2rem;
  background-color: rgb(255 251 235);
  color: #111;
  font-family: Arial, sans-serif;
}

.sobre-nos-header h1 {
  font-size: 3.4rem;
  background-color: rgb(255 251 235);
  font-weight: bold;
  line-height: 1;
  padding-left: 45px;
}

.sobre-nos-header p {
  padding-left: 45px;
  text-align: justify;
  max-width: 1000px;
  margin-top: 1rem;
  color: #222;
  font-size: 1.4rem;
}

.equipeDS {
  display: flex;
  width: 650px;
  height: 100px;
  gap: 2rem;
  margin-top: 0rem;
  background: #ea580c;
  color: #fafbe4;
  padding: 1rem;
  border-radius: 10px;
}

.equipeDS h4{
  justify-self: center;
  font-size: 1.6rem;
}

.equipeDS p{
  justify-self: center;
  font-size: 1.4rem;
}

.equipeDS :hover{
  transform: translateY(-5px);
  color: #293649
}

.equipeDS img {
  width: 100px;
  height:  100px;
  border-radius: 10px;
  object-fit: cover;
}

.equipeDOC {
  display: flex;
  width: 650px;
  height: 100px;
  flex-wrap: wrap;
  gap: 4.5rem;
  margin-top: 2rem;
  background: #ea580c;
  color: #fafbe4;
  padding: 1rem;
  border-radius: 10px;
}

/* justify-self: right;
  align-items: right;
  justify-self: right;
  align-items: center;
  */

.equipeDOC h4{
  align-items: center;
  justify-self: center;
  font-size: 1.6rem;
}

.equipeDOC p{
  align-items: center;
  justify-self: center;
  font-size: 1.4rem;
}

.equipeDOC :hover{
  transform: translateY(-5px);
  color: #293649
}

/* add transição quando descer na página nas equipes*/

/* Responsividade */
@media (max-width: 768px) {
  .sobre-nos-header h1 {
    font-size: 2rem;
  }
  .sobre-nos-equipe {
    flex-direction: column;
  }
}
  
h3 {
  color: #ea580c;           /* Cor dos detalhes */
}

.footter .box-conteiner {
  display: flex;
  width: 100%; 
  /* margin-left: -20px; */
  background: #293649; 
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 9rem; /* Aumenta o espaço entre as caixas */
  padding: 0 2rem; /* Adiciona padding lateral 
  border-radius: 1rem; /* Adiciona bordas arredondadas 
  box-shadow: 0 4px 10px rgba(255, 251, 251, 0.1); /* Adiciona sombra para profundidade */
}

.footter .box {
  width: 100%;
  padding: 1.5rem; /* Adiciona padding interno */
  transition: 0.3s; /* Transição suave para hover */
}

.footter .box:hover {
  transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
}

.footter .box h3 {
  color: #ffffff; 
  font-size: 1.8rem; /* Ajusta o tamanho da fonte */
  margin-bottom: 1rem; /* Adiciona espaço abaixo do TÍTULO */
}

.footter .box h3 i {
  color: #fcfcfc; /* Mantém a cor do ícone */
}

.footter .box .links {
  display: block;
  color: #f8f5f5; /* Um tom mais escuro para as links */
  font-size: 1.2rem; /* Ajusta o tamanho da fonte */
  padding: 0.5rem 0; /* Ajusta o padding */
  transition: color 0.3s; /* Transição suave para hover */
}

.footter .box .links:hover {
  color: #e06919; /* Muda a cor ao passar o mouse */
}

.footter .box p {
  line-height: 1.6; /* Ajusta o espaçamento entre linhas */
  color: #d1cece; /* Um tom mais claro para o texto */
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  margin-bottom: 1rem; /* Adiciona espaço abaixo do parágrafo */
}

.footter .box .share a {
  height: 3rem; /* Ajusta a altura dos ícones de compartilhamento */
  width: 3rem; /* Ajusta a largura dos ícones de compartilhamento */
  line-height: 3rem; /* Centraliza o texto verticalmente */
  color: #333; /* Cor do ícone */
  font-size: 1.5rem; /* Ajusta o tamanho do ícone */
  margin: 0 0.5rem; /* Ajusta o espaço entre os ícones */
  border-radius: 50%; /* Torna os ícones circulares */
  background: #eee; /* Fundo dos ícones */
  text-align: center;
  transition: 0.3s; /* Transição suave para hover */
}

.footter .box .share a:hover {
  background: #e06919; /* Muda a cor de fundo ao passar o mouse */
  color: #ffffff; /* Muda a cor do ícone ao passar o mouse */
}

.footter .box .email {
  width: 100%;
  margin: 0.5rem 0;
  padding: 1rem;
  color: #333; /* Cor do texto do input */
  background: #f0f0f0; /* Fundo do input */
  border-radius: 0.5rem;
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  border: 1px solid #ccc; /* Adiciona uma borda ao input */
}

.footter .box .btn {
  width: 100%;
  padding: 1rem; /* Adiciona padding ao botão */
  background: #e06919; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 0.5rem; /* Bordas arredondadas */
  font-size: 1rem; /* Ajusta o tamanho da fonte */
  cursor: pointer; /* Muda o cursor para pointer */
  transition: 0.3s; /* Transição suave para hover */
}

.footter .box .btn:hover {
  background: #d05e17; /* Muda a cor ao passar o mouse */
}

/*
.footter .creditos {
  text-align: center;
  background-color: #f9f9f9;  Mantém o fundo suave 
  padding: 1rem;
  font-size: 1.2rem; /* Ajusta o tamanho da fonte 
  font-weight: 600;
  color: #333; /* Cor do texto 
  border-top: 1px solid #ccc; /* Adiciona uma borda superior 
}

.footter .creditos span {
  color: #e06919; /* Mantém a cor do destaque 
  cursor: pointer;
}

/* FIM INDEX PAG */

/*  MOTORISTAS PAG */
.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 8vh;
  font: bold;
}
.nav-list{
  list-style: none;
  display: flex;
}
.nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
    body{
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #ea580c;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    } 

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
.titulo {
  margin-top: 15vw;
  justify-self: center;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#caixas {
  display: grid;
  grid-template-rows: auto auto;
}
.imgMC {
  border-radius: 20%;
  justify-self: center;
  float: center;
}
.caixap1 {
  width: 35%;
  height: 45vh;
  background-color: #fff;
  border-radius: 3rem;
  margin-left: 90px;
  float: left;
  display: block;
}
#p1 {
  font-size: 17px;
  color: #333;
  margin-top: 5%;
  padding: 1px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.caixap2 {
  width: 30%;
  height: 45vh;
  background-color: #fff;
  float: right;
  justify-self: right;
  justify-content: center;
  border-radius: 3rem;
  margin-right: 90px;
  display: block;
}
.p2 {
  font-size: 18px;
  color: #333;
  margin-top: 10%;
  padding: 1px;
  margin-bottom: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cadastroBT{
  background-color: #ea580c;
  color: #ffffff;
  border: #ffffff solid;
  border-radius: 10px;
  text-align: center;
  width: 8%;
  height: 5%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cadastroBT a{
  justify-self: center;
}
/* FIM MOTORISTAS PAG */

/*  EMPRESA PAG */
.emp-text {
  width: 1400px;
  height: 242px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: white;
}
/*  FIM EMPRESA PAG */
form {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.media-body {
  margin: auto;
  display: flex;
  align-items: center;
}
footer{
  text-align: center;
  position: absolute;
  bottom: -0;
  width: 100%;
}
footer {
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #ea580c;
  color: #fff;
}

.imgMotorista{
  justify-content: center;
  align-items: center;
  position: relative;
  width: 25%;
} 
#titu{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.hero{
  display: flex;
  padding-bottom: 3rem;
}
.row{
  display: flex;
  justify-content: center;
}
.sobreMto{
  margin-bottom: 1rem;
  margin-top: 0;
  display: block;
  unicode-bidi: isolate;
  
}
.sobreEsq{
  width: 500px;
}
.aa{
  padding-left: 1rem;
  width: 1000px;
}
.sobreCargo{
  width: 500px;

  #textCargo{
    margin: 1rem;
    padding-left: 1rem;
  }
}
