body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.5;
}

header {
    background-color: #ea5504;
    color: white;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    font-weight: 700;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav a {
    margin-left: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd8a9;
}

.tabelela {
    display: flex;
    align-self: center;

}